$bg-color: #fff;
$border-color: #ddd;
$header-bg-color: #efefef;
$text-color: #000;
$cell-bg-color: #fafafa;

$error-border-color: #af3434;
$error-bg-color: #ffa5a555;

$button1-color: #3ccae1;
$button2-color: #aa388e;
